body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #1F2937;
    color: #F9FaF8;
    display: flex;
    flex-flow: column wrap;
}

.header {
    display: flex;
    flex-flow: row wrap;
    margin: 32px;
}

.logo {
    font-weight: 900;
    font-size: 20px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    margin: 32px;
    align-items: center;
    justify-content: center;
}

.t-text {
    margin-left: 32px ;
}
.opener {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.hook {
    display: flex;
    font-weight: 900;
    font-size: 48px;
    max-width: 400px;
}

.discripter {
    color: #E5E7EB
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    margin-top: 16px;
    color: #F9FaF8;
    border: 0px;
}

img {
    flex: auto;
    height: auto;
    max-width: 350px;
    margin: 32px;
}

.second {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.numbers {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
    margin-top: 0px;
}

.title2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 32px;
}

.one, .two, .three, .four {
    display: flex; 
    max-width: 200px;
    flex-flow: column nowrap;
    text-align: center;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}   

.img1, .img2, .img3, .img4 {
    display: flex;
    width: 150px; 
    height: 150px;
    object-fit: cover
}

.third {
    display:flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.inspire {
    display: flex;
    flex-flow: column wrap;
    margin: 50px;
    max-width: 815px;
    margin-top: 0px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}

.author {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    justify-content: flex-end;
}

.fourth {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.banner {
    display: flex;
    padding: 32px;
    background-color: #3882f6;
    border-radius: 25px;
    flex-flow: row;
    width: 900px;
    justify-content: space-around;
    align-items: center;
}

.endtext {
    display: flex;
    flex-flow: column nowrap;
}   
.call {
    color: #F9FAF8; 
    font-weight: 900;
    font-size: 20px;
}

.epiloge {
    color: #E5E7EB;
}

.lastsign {
    display: flex;
    border-color: #F9FaF8;
    font-size: 20px;
    font-weight: 600;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 25px;
    align-items: center;
    justify-content: center;
}